@charset "utf-8";
/*
 * @description: 关于我们样式
 * @author: LrEmo
 * @date: 2014/12/25.
 * @mail: metro-cpu@hotmail.com
 */

.about{
  margin-top: 20px;
  .about-introduce{
    margin: 0 40px;
    text-align: center;
  }
  .about-app{
    ul{
      margin-top: 35px;
    }
  }
}
.about-introduce{
  >h2{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 14px;
  }
  >p{
    font-size: 1.4rem;
    line-height: 28px;
    &:nth-of-type(1){
      margin-bottom: 30px;
    }
  }
}