/**
 * Created by chenglong.wang@yoho.cn on 2014/1/4.
 */

.about{
  margin-top: 20px;
  .about-introduce{
    margin: 0 40px;
    text-align: center;
  }
  .about-app{
    ul{
      margin-top: 35px;
    }
  }
}
.about-introduce{
  >h2{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 14px;
  }
  >p{
    font-size: 1.4rem;
    line-height: 28px;
    &:nth-of-type(1){
      margin-bottom: 30px;
    }
  }
}
.about-app{
  margin-top: 55px;
  text-align: center;
  >h2{
    font-size: 1.8rem;
    font-weight: bold;
  }
  li{
    position: relative;
    margin-bottom: 38px;
    overflow: hidden;
    &:nth-of-type(3){
      margin-bottom: 0;
    }
    @each $about-app in about-show, about-yoho, about-girl {
      .#{$about-app} {
        @include retina-sprite($icons,#{$about-app},true,0);
      }
    }

    h3{
      //font-family: $font-hta;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 80px;
    }
    p{
      font-size: 1.4rem;
      margin-top: 11px;
    }
  }
}