/**
 * Created by chenglong.wang@yoho.cn on 2014/12/26.
 */

//banner
.banner{
  width: $banner-width;
  height: $banner-height;
  img{
    width: $banner-width;
    height: $banner-height;
    display: block;
  }
}

//video
.video{
  margin: 0 auto;
  width: $vide-width;
  height: $video-height;
  margin-top: 35px;
  margin-bottom: 20px;
  a{
    @include retina-sprite($icons,video);
  }
}
.home-content{
  margin: 0 auto;
  width: $home-content-width;
  >ul li{
    width: $home-content-width;
    height: $home-content-height;
    margin-bottom: 35px;
    border-bottom: 2px solid #272727;
    img{
      width: $home-content-width;
      height: auto;
    }
    >h2,
    >time,
    >p{
      text-align: center;
      display: block;
      width: $home-content-width;
    }
    >h2{
      line-height: 24px;
      font-size: 14px;
      margin-top: 13px;
      color: $font-base-color;
      font-family: "helvetica-bold";
    }
    >time{
      font-size: 12px;
      margin-top: 13px;
      color: tint($font-base-color,60%);
      font-family: "helvetica-light";
    }
    >p{
      line-height: 18px;
      font-size: 12px;
      margin-top: 12px;
      color: tint($font-base-color,40%);
      font-family: "stheiti";
    }
  }
}
//follow-us
.follow-us{
  margin-top: 30px;
  @include retina-sprite($icons-other,comment);
  border: 1px solid transparent;
  >h2{
    font-family: "\u9ED1\u4F53";
    font-size: 16px;
    margin-top: 18px;
    text-align: center;
    font-weight: bold;
  }
  >ul{
    margin: 15px 25px 0 25px;
    height: auto;
    overflow: hidden;
    li{
      float: left;
      margin-right: 32px;
      &:nth-of-type(4){
        margin-right: 0;
      }
      @include hide-text();
    }
    .follow-show{
      a{
        @include retina-sprite($icons,show);
      }
    }
    .follow-sina{
      a{
        @include retina-sprite($icons,sina);
      }
    }
    .follow-facebook{
      a{
        @include retina-sprite($icons,facebook);
      }
    }
    .follow-instagram{
      a{
        @include retina-sprite($icons,instagram);
      }
    }
  }
  >.rss{
    margin: 18px 25px 0 25px;
    height: 21px;
    border: 1px solid #000;
    position: relative;
    font-size: 12px;
    .rss-btn,input[type='text']{
      display: block;
      height: 21px;
      line-height: 21px;
      position: absolute;
      top: 0;
    }
    .rss-btn{
      background: #000;
      width: 65px;
      text-align: center;
      right: 0;
      color: $font-white-color;
      font-weight: bold;

    }
    input[type='text']{
      text-indent: 10px;
      display: block;
      width: 170px;
      left: 0;
      background: none;
      border: none;
      outline: none;
    }
  }
}
.switch-page{
  margin-top: 35px;
  height: 20px;
  position: relative;
  >span{
    @include hide-text();
    cursor: pointer;
  }
  .switch-prev{
    @include retina-sprite($icons,prev,0px,true);
  }
  .switch-next{
    @include retina-sprite($icons,next,false,true);
    right: 0;
  }
}

//download
.home-download{
  margin-top: 50px;
  @include retina-sprite($icons-other,follow);
  border: 1px solid transparent;
  >div{
    margin: 30px 10px 0 30px;
    position: relative;
    h2{
      font-family: "helvetica-bold";
      position: absolute;
      left: 95px;
      top: 6px;
      font-size: 14px;
    }
    h3{
      font-family: "helvetica-light";
      position: absolute;
      left: 95px;
      top: 26px;
      font-size: 12px;
    }
  }
  .boyos-icon{
   @include retina-sprite($icons,yoho);
  }
  .girls-icon{
    @include retina-sprite($icons,yoho-girl);
  }
  .down-btn{
    @include retina-sprite($icons,download);
    position: absolute;
    left: 95px;
    top: 50px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: $font-white-color;
    text-align: center;
    @include hover-link();
  }
}