@charset "utf-8";
/*
 * @description: 视频页样式
 * @author: LrEmo
 * @date: 2014/12/25.
 * @mail: metro-cpu@hotmail.com
 */

.submenu{
  height: 40px;
  line-height: 40px;
  font-size: 1.6rem;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
  ul{
    height: 40px;
    .swiper-slide{
      float: left;
      height: 40px;
    }
    .current{
      a{
        color: #000;
      }
    }
    a{
      color: #8c8c8c;
      @include hover-link();
      padding: 0 20px;
      display: block;
      height: 100%;
      position: relative;
      &:after{
        content: '/';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    li{
      &:nth-last-of-type(1){
        a{
          &:after{
            display: none;
          }
        }
      }
    }
  }
}