@charset "utf-8";
/*
 * @description: 关注我们组件
 * @author: LrEmo
 * @date: 2014/12/25.
 * @mail: metro-cpu@hotmail.com
 */

//follow-us
.follow-us{
  margin-top: 30px;
  @include retina-sprite($line,comment);
  border: 1px solid transparent;
  >h2{
    font-size: 1.8rem;
    margin-top: 18px;
    text-align: center;
    font-weight: bold;
  }
  >ul{
    margin: 15px 25px 0 25px;
    height: auto;
    overflow: hidden;
    li{
      float: left;
      margin-right: 32px;
      &:nth-of-type(4){
        margin-right: 0;
      }
      @include hide-text();
    }

    @each $follow in show, sina, facebook, instagram {
      .follow-#{$follow} {
        @include retina-sprite($icons,#{$follow});
      }
    }
  }
  >.rss{
    margin: 18px 25px 0 25px;
    height: 21px;
    border: 1px solid #000;
    position: relative;
    font-size: 1.4rem;
    .rss-btn,input[type='text']{
      display: block;
      height: 21px;
      line-height: 21px;
      position: absolute;
      top: 0;
    }
    .rss-btn{
      background: #000;
      width: 65px;
      text-align: center;
      right: 0;
      color: #fff;
      font-weight: bold;
    }
    input[type='text']{
      text-indent: 10px;
      display: block;
      width: 170px;
      left: 0;
      background: none;
      border: none;
      outline: none;
    }
  }
}