@charset "utf-8";
/*
 * @description: 导航条组件
 * @author: LrEmo
 * @date: 2014/12/25.
 * @mail: metro-cpu@hotmail.com
 */

.header-nav{
  height: 44px;
  margin: 0 15px 0 15px;
  position: relative;
  >span{
    @include hide-text();
  }
  .nav-bar{
    @include retina-sprite($icons,nav-bar,0px,true);
  }
  @each $nav in logo, magazine, map, video, fashion {
    .nav-#{$nav} {
      @include retina-sprite($icons,#{$nav},true,true);
    }
  }
}