@charset "utf-8";
/*
 * @description: 图片精灵
 * @author: LrEmo
 * @date: 2014/12/25.
 * @mail: metro-cpu@hotmail.com
 */


$line: sprite-map("line/*.png",$spacing: 5px);

$icons: sprite-map("icons/*.png",$spacing: 5px);

$side-bar: sprite-map("side-bar/*.png",$spacing: 5px);

